

:root {
$red-sombre: #a6170f;
$red-bright: #e32e19;
$black-type: #0a0917;
$green-pale: #71a370;
$green-cool: #2f6b35;
$green-cold: #165027;
$yellow-light: #f8e6cc;
$yellow-heavy: #e7d5be;
$blue-deep: #020d66;
$blue-fade: #062f65;
$blue-light: #3c829c;}